# Flutter
.dart_tool/
.packages
build/
*.iml

# Android
android/local.properties
*.jks

# Build outputs - APKs
*.apk
*.apk.sha1
app-release.apk
app-debug.apk
build/app/outputs/
build/app/outputs/apk/
build/app/outputs/flutter-apk/
Exerscroll.apk

